@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">NhacCuaAnh - Âm nhạc không chỉ để nghe, âm nhạc còn là music</h1>
    <p>Không gian âm nhạc</p>
</div>

<audio controls autoplay hidden>
    <source src="./Songs/HappyNewYear-ABBA-1595921.mp3" type="audio/mp3">
</audio>
