@page
@using MusicOnline.DTO
@using System.Text.Json
@model MusicOnline.Pages.RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
}
@Html.AntiForgeryToken()
<script type="text/javascript">
    var dataKin = @Html.Raw(JsonSerializer.Serialize(Model.lst));
</script>
<script src="~/js/user.js"></script>
<form action="" method="post">
    <div class="container">
        <h1>Đăng ký</h1>
        <p>Vui lòng điền thông tin để đăng ký tài khoản</p>
        <hr>

        <label for="fullname"><b>Họ tên</b></label>
        <input type="text" placeholder="Họ và tên" name="fullname" id="fullname" required>

        <label for="username"><b>Tên đăng nhập</b></label>
        <input type="text" placeholder="Tên đăng nhập" name="username" id="username" required>

        <label for="gender"><b>Giới tính</b></label>
        <input type="text" placeholder="Nam/Nữ" name="gender" id="gender" required>

        <label for="yearofbirth"><b>Năm sinh</b></label>
        <input type="text" placeholder="Năm sinh" name="yearofbirth" id="yearofbirth" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="phone"><b>Điện thoại</b></label>
        <input type="number" placeholder="Điện thoại" name="phone" id="phone" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>
        <p>Đăng ký tài khoản đồng nghĩa với việc đồng ý với <a href="#">Điều khoản & chính sách</a> của chúng tôi.</p>

        <button type="submit" class="registerbtn" onclick="saveUser();">Đăng ký</button>
    </div>

    <div class="container signin">
        <p>Đã có tài khoản? <a href="/Login">Đăng nhập</a>.</p>
    </div>
</form>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
    }

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* Set a style for the submit button */
    .registerbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .registerbtn:hover {
            opacity: 1;
        }

    /* Add a blue text color to links */
    a {
        color: dodgerblue;
    }

    /* Set a grey background color and center the text of the "sign in" section */
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }
</style>